header {
    background-color: #6dbdff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

footer {
    background-color: #6dbdff;
    margin-top: 2%;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.topsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}

.description {
    width: 50%;
    margin: 0 2%;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.picture {
    margin: 1%;
}



button {
    background-color: #144e9a;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: black solid 1px;
    border-radius: 5px;
    margin: 2%;
}

button:hover {
    background-color: #ffffff;
    color: #136db6;
}

button a {
    text-decoration: none;
    color: inherit;
}